# {{ ansible_managed }}


[Unit]
Description=Query user for secrets at boot


[Install]
WantedBy=multi-user.target
Requires=control-sshagent.service
After=control-sshagent.service


[Service]
Type=oneshot
ExecStart={{ control_scripts_dir|quote }}/control-secrets-init.sh
ExecStop={{ control_scripts_dir|quote }}/control-secrets-clear.sh
Environment=ANSIBLE_VAULT_KEYNAME={{ control_keyring_id_vault_password }}
Environment=DISPLAY=dummy-value
Environment=INVENTORY={{ control_inventory|quote }}
Environment=SECRETS_TIMEOUT_SECONDS={{ control_secrets_timeout_seconds }}
Environment=SSH_ASKPASS={{ control_scripts_dir|quote }}/ssh-askpass-noninteractive.sh
Environment=SSH_AUTH_SOCK={{ control_sshagent_socket|quote }}
Environment=SSH_KEYS={{ control_sshkeys|map("quote")|join("\t") }}
