# {{ ansible_managed }}


[Unit]
Description=SSH Agent Socket for Ansible Control Node


[Install]
WantedBy=sockets.target


[Socket]
ListenStream={{ control_sshagent_socket|quote }}
SocketUser={{ control_username }}
SocketGroup={{ control_username }}
SocketMode=0600
DirectoryMode=0700
