# {{ ansible_managed }}


[Unit]
Description=SSH Agent for Ansible Control Node


[Service]
Type=simple
Environment=SSH_AUTH_SOCK={{ control_sshagent_socket|quote }}
ExecStart=/usr/bin/ssh-agent -D -a "$SSH_AUTH_SOCK"
User={{ control_username }}
Group={{ control_username }}
NoNewPrivileges=True
