#_preseed_V1

# More configurable parameters can be found in the example file:
# https://www.debian.org/releases/buster/example-preseed.txt

d-i partman/early_command \
       string debconf-set partman-auto/disk "$(list-devices disk | head -n1)"

d-i debian-installer/locale string en_US
d-i keyboard-configuration/xkb-keymap select us

d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/get_domain string unassigned-domain
d-i netcfg/wireless_wep string

d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

d-i passwd/make-user boolean false
d-i passwd/root-password password temporary-root-password
d-i passwd/root-password-again password temporary-root-password

d-i clock-setup/utc boolean true
d-i time/zone string UTC
d-i clock-setup/ntp boolean true

d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select single-root-no-swap
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-basicfilesystems/no_swap boolean false
d-i partman/mount_style select traditional

apt-cdrom-setup apt-setup/disable-cdrom-entries boolean true
apt-cdrom-setup apt-setup/cdrom/set-first boolean false

tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string haveged openssh-server sudo
d-i pkgsel/upgrade select full-upgrade

popularity-contest popularity-contest/participate boolean false
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string default
d-i finish-install/reboot_in_progress note
