#
# Virtual host configuration for Apache web server with mod_wsgi
# {{ ansible_managed }}
#


Define URL        {{ supysonic_url }}
Define WSGI_USER  {{ supysonic_user }}
Define WSGI_GROUP {{ supysonic_user }}
Define WSGI_DIR   {{ supysonic_venv }}
Define PY_VENV    {{ supysonic_venv }}
Define SSL_CERT   {{ supysonic_ssl.cert }}
Define SSL_KEY    {{ supysonic_ssl.key }}


<VirtualHost *:443>

    ServerName ${URL}

    SSLEngine On
    SSLCertificateFile ${SSL_CERT}
    SSLCertificateKeyFile ${SSL_KEY}

    ErrorLog  ${APACHE_LOG_DIR}/${URL}-errors.log
    CustomLog ${APACHE_LOG_DIR}/${URL}-access.log combined

    <Directory ${WSGI_DIR}>
        Require all granted
    </Directory>

    WSGIScriptAlias / ${WSGI_DIR}/supysonic.wsgi
    WSGIDaemonProcess ${URL} \
                      user=${WSGI_USER} \
                      group=${WSGI_GROUP} \
                      python-home=${PY_VENV} \
                      processes=2 \
                      threads=15 \
                      display-name=(${URL})
    WSGIProcessGroup ${URL}

    LogLevel info

</VirtualHost>


<VirtualHost *:80>
    ServerName ${URL}
    Redirect permanent / https://${URL}/
</VirtualHost>


<VirtualHost *:80 *:443>
    ServerName www.${URL}
    Redirect permanent / https://${URL}/
</VirtualHost>

# vim: syntax=apache
