# {{ ansible_managed }}

[base]
database_uri = sqlite:///{{ supysonic_db }}
follow_symlinks = yes

[webapp]
cache_dir = {{ supysonic_cache }}
transcode_cache_size = 8192

[transcoding]
decoder = ffmpeg -i %srcpath -f wav -ac 2 pipe:
encoder_opus = ffmpeg -i pipe: -f opus -acodec libopus -ab %outratek -vbr on pipe:
encoder_ogg  = ffmpeg -i pipe: -f ogg -acodec libvorbis -ab %outratek pipe:
encoder_mp3  = ffmpeg -i pipe: -f mp3 -acodec libmp3lame -ab %outratek -abr pipe:
