# {{ ansible_managed }}

[Unit]
Description=Supysonic daemon
After=network.target
RequiresMountsFor=\
    "{{ supysonic_music_dir }}" \
    "{{ supysonic_venv }}" \
    "{{ supysonic_cache }}" \
    "/etc/letsencrypt" \
    "/home/{{ supysonic_user }}"


[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart={{ supysonic_venv | quote }}/bin/supysonic-daemon
User={{ supysonic_user }}
Group={{ supysonic_user }}
WorkingDirectory={{ supysonic_venv }}
NoNewPrivileges=true


[Install]
WantedBy=multi-user.target
