# {{ ansible_managed }}

[Unit]
Description=Transmission BitTorrent Daemon
After=network.target
RequiresMountsFor=\
    {% for watch in transmission_instance.watch -%}
    "{{ watch.torrents }}" \
    "{{ watch.destination }}" \
    {% endfor -%}
    "{{ transmission_config }}"


[Service]
Type=notify
Restart=always
RestartSec=30
ExecStart=\
    /usr/bin/transmission-daemon \
        --config-dir {{ transmission_config | quote }} \
        --foreground \
        --log-error
ExecStop=/bin/kill -s STOP $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID
User={{ transmission_user }}
Group={{ transmission_user }}
NoNewPrivileges=true
Nice=10
IOSchedulingPriority=7
LimitNOFILE=30960


[Install]
WantedBy=multi-user.target
