# {{ ansible_managed }}

[Unit]
Description=Watch directory for new torrent files ({{ item.name }})
After=network.target
RequiresMountsFor=\
    {{ item.torrents | quote }} \
    {{ item.destination | quote }}


[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=\
    {{ transmission_watch_venv | quote }}/bin/transmission-watch \
        {{ item.torrents | quote }} \
        {{ item.destination | quote }} \
        {{ item.extras | default('') }}
User={{ transmission_user }}
Group={{ transmission_user }}
NoNewPrivileges=true
Environment=TR_HOST=localhost:{{ transmission_instance.port_rpc }}


[Install]
WantedBy=multi-user.target
