version: '3'

services:
  minio:
    image: minio/minio
    ports:
      - '9000:9000'
      - '9001:9001'
    environment:
      MINIO_ROOT_USER: unsaferoot
      MINIO_ROOT_PASSWORD: unsafepassword
    command: server /data --console-address ':9001'

  minio-console:
    depends_on:
      - minio
    image: minio/mc
    restart: 'no'
    entrypoint:
      - bash
      - -c
      - sleep 2
        && mc alias set storage http://minio:9000 unsaferoot unsafepassword
        && mc mb storage/debian10-client
        && mc mb storage/debian11-client
        ; sleep infinity
