<domain type='kvm'>
  <name>{{ virtual_machine_name }}</name>
  <uuid>{{ virtual_machine_name|to_uuid }}</uuid>
  <memory unit='MiB'>{{ virtual_machine_memory }}</memory>
  <vcpu placement='static'>{{ virtual_machine_cpus }}</vcpu>
  <os>
    <type>hvm</type>
    <boot dev='hd'/>
  </os>
  <features>
    <acpi/>
    <apic/>
    <pae/>
  </features>
  <cpu>
    <topology sockets='1' dies='1' cores='{{ virtual_machine_cpus }}' threads='1'/>
  </cpu>
  <clock offset='utc'/>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>
  <devices>
    <emulator>{{ virtual_machine_emulator }}</emulator>
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2' discard='unmap'/>
      <source file='{{ virtual_machine_image }}'/>
      <target dev='vda' bus='virtio'/>
    </disk>
{% if virtual_machine_cloudinit_cfg is defined %}
    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file='{{ virtual_machine_cloudinit_iso }}'/>
      <target dev='hdc' bus='ide'/>
      <readonly/>
    </disk>
{% endif %}
    <interface type='bridge'>
      <source bridge='{{ virtual_machine_bridge }}'/>
      <mac address='{{ virtual_machine_macaddress }}'/>
      <model type='virtio'/>
    </interface>
    <controller type='usb' model='{{ virtual_machine_usb_controller }}'/>
    <input type='mouse' bus='ps2'/>
    <input type='keyboard' bus='ps2'/>
    <graphics type='spice' autoport='yes'>
      <listen type='address'/>
      <image compression='off'/>
      <clipboard copypaste='no'/>
      <filetransfer enable='no'/>
    </graphics>
    <rng model='virtio'>
      <rate period='2000' bytes='1234'/>
      <backend model='random'>/dev/random</backend>
    </rng>
    <serial type='pty'>
      <target port='0'/>
    </serial>
    <console type='pty'>
      <target type='serial' port='0'/>
    </console>
  </devices>
</domain>
