<hostdev mode='subsystem' type='usb' managed='yes'>
  <source startupPolicy='optional'>
    <vendor id='{{ virtual_usb_vendor }}'/>
    <product id='{{ virtual_usb_device }}'/>
  </source>
</hostdev>
