molecule==4.0.1
molecule-docker==2.0.0
molecule-vagrant==1.0.0
python-vagrant==1.0.0

ansible
ansible-lint!=4.3.0,!=5.0.3
    # 4.3.0: https://gitlab.com/sio/server_common/-/jobs/693768455
    # 5.0.3: https://github.com/ansible-community/ansible-lint/issues/1455
testinfra
yamllint
