molecule==3.2.0a0
molecule-docker==0.2.4
molecule-vagrant==0.5
python-vagrant==0.5.15

ansible
ansible-lint!=4.3.0,!=5.0.3
    # 4.3.0: https://gitlab.com/sio/server_common/-/jobs/693768455
    # 5.0.3: https://github.com/ansible-community/ansible-lint/issues/1455
testinfra
yamllint
