ansible
# molecule[docker]  # Stable version should not be used until
                    # https://github.com/ansible-community/molecule/pull/2524
                    # gets included into Molecule release (probably 3.0)
https://github.com/sio/molecule/releases/download/3.0a6.dev42%2Bgec89f169%2Bhotfix/molecule-3.0a6.dev42+gec89f169.tar.gz#egg=molecule[docker]
yamllint
