# WARNING!
#
# THIS FILE IS MAINTAINED WITH ANSIBLE
# LOCAL CHANGES WILL BE OVERWRITTEN!

https://github.com/sio/HomeLibraryCatalog/tarball/master
https://github.com/sio/scrapehelper/tarball/master
https://github.com/sio/toolpot/tarball/master
