# WARNING!
#
# THIS FILE IS MAINTAINED WITH ANSIBLE
# LOCAL CHANGES WILL BE OVERWRITTEN!

https://github.com/sio/HomeLibraryCatalog.git
https://github.com/sio/scrapehelper.git
https://github.com/sio/toolpot.git
