#
# Sample configuration for ssh client with different keys for different hosts
#
# Put this file into ~/.ssh/config
#

Host gitlab.com
    IdentityFile ~/.ssh/gitlab
    IdentitiesOnly yes  # do not try other keys with this host
Host github.com
    IdentityFile ~/.ssh/github
    IdentitiesOnly yes

# vim: filetype=sshconfig
