# CI CONFIGURATION FOR BUILDING VM IMAGES WITH PACKER

task:
  name: build-packer-image
  container:
    image: potyarkin/molecule:host-kvm  # Debian 10
    kvm: true
    cpu: 4
    memory: 6G
  env:
    CLONE_SHA: "{{ CI_COMMIT_SHA }}"
    CLONE_URL: "{{ CI_REPOSITORY_URL }}"
    PACKER_LOG: 1  # it's hard to debug Qemu errors without verbose output
    PACKER_TARGET: "{{ PACKER_TARGET }}"
    VM_HOSTNAME: "{{ VM_HOSTNAME }}"
    VM_PASSWORD: "{{ VM_PASSWORD }}"
    {% if VM_ISO is defined %}
    VM_ISO: "{{ VM_ISO }}"
    {% endif %}
  clone_script:
    - git clone "$CLONE_URL" .
    - git reset --hard "$CLONE_SHA"
  dependencies_script:
    - make -C "packer/.test-environment" /.ready-for-packer
  console_log_background_script:
    - tail -v -n+0 -F "packer/$PACKER_TARGET/console.log"
  packer_script:
    - cd "packer/$PACKER_TARGET"
    - make "{{ PACKER_ACTION|default('build') }}"
    - make checksum
  image_artifacts:
    path: "**/*.qcow2"
  checksum_artifacts:
    path: "**/*.sha256sum"
