# {{ ansible_managed }}
#
# Use custom configuration file for nftables.service

[Service]
ExecStart=
ExecStart=/usr/sbin/nft -f {{ nftables_config|quote }}
ExecReload=
ExecReload=/usr/sbin/nft -f {{ nftables_config|quote }}
