# {{ ansible_managed }}


[Unit]
Description=borgmatic backup
Wants=network-online.target
After=network-online.target
ConditionACPower=true


[Service]
Type=oneshot
Environment=BORG_PASSPHRASE={{ borg_client_passphrase }}
ExecStartPre=\
    /usr/bin/borgmatic --config {{ borg_client_config }} init --encryption {{ borg_client_encryption }}
ExecStart=\
    systemd-inhibit --who=borgmatic --why="Prevent interrupting scheduled backup" \
    /usr/bin/borgmatic --config {{ borg_client_config }} --verbosity 0 --syslog-verbosity 1

Nice=19
CPUSchedulingPolicy=batch
IOSchedulingClass=best-effort
IOSchedulingPriority=7
IOWeight=100

Restart=no
LogRateLimitIntervalSec=0

LockPersonality=true
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
ProtectSystem=strict
CapabilityBoundingSet=CAP_DAC_READ_SEARCH CAP_NET_RAW
