{
    "WARNING": "THIS FILE IS MAINTAINED WITH ANSIBLE. LOCAL CHANGES WILL BE OVERWRITTEN!",

    "app": {
        "title": "Книжная квартирка",
        "data_dir": "{{ path.data }}",
        "verbosity": 5
    },
    "webui": {
        "cookie_key": "RZQL51П*0027-/",
        "id_key": 18251
    }
}
