{
    "WARNING": "THIS FILE IS MAINTAINED WITH ANSIBLE. LOCAL CHANGES WILL BE OVERWRITTEN!",

    "app": {
        "title": "{{ hlc.title }}",
        "data_dir": "{{ path.data }}",
        "verbosity": 5
    },
    "webui": {
        "cookie_key": "{{ hlc.cookie_key }}",
        "id_key": {{ hlc.id_key }}
    }
}
