{
    "WARNING": "THIS FILE IS MAINTAINED WITH ANSIBLE. LOCAL CHANGES WILL BE OVERWRITTEN!",

    "app": {
        "title": "{{ hlc_app.title }}",
        "data_dir": "{{ hlc_paths.data }}",
        "verbosity": 5
    },
    "webui": {
        "cookie_key": "{{ hlc_app.cookie_key }}",
        "id_key": {{ hlc_app.id_key }}
    }
}
