[global]
runtime=1m
ramp_time=5s
time_based
stonewall
buffered=0
ioengine=libaio
iodepth=32
numjobs=1
group_reporting=1
allow_file_create=1

[write-random-4k]
readwrite=randwrite
bs=4k

[write-random-256k]
readwrite=randwrite
bs=256k

[write-random-1M]
readwrite=randwrite
bs=1M

[write-sequential-4k]
readwrite=write
bs=4k

[write-sequential-256k]
readwrite=write
bs=256k

[write-sequential-1M]
readwrite=write
bs=1M

[read-random-4k]
readwrite=randread
bs=4k

[read-random-256k]
readwrite=randread
bs=256k

[read-random-1M]
readwrite=randread
bs=1M

[read-sequential-4k]
readwrite=read
bs=4k

[read-sequential-256k]
readwrite=read
bs=256k

[read-sequential-1M]
readwrite=read
bs=1M

[rw-random-4k]
readwrite=randrw
bs=4k

[rw-random-256k]
readwrite=randrw
bs=256k

[rw-random-1M]
readwrite=randrw
bs=1M

[rw-sequential-4k]
readwrite=readwrite
bs=4k

[rw-sequential-256k]
readwrite=readwrite
bs=256k

[rw-sequential-1M]
readwrite=readwrite
bs=1M
